# Project Specific
/build/www/**
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/
# Node
/node/
node_temp/
node_modules/
npm-debug.log.*
# SASS
.sass-cache/
# Eclipse
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
localproperties
.classpath
